/* -------------------------------------------------------------------------
 *  Page and Canvas
 * ------------------------------------------------------------------------- */
body {
  background-color: black;
}
canvas {
  display: block;
  margin: auto;
}

/* -------------------------------------------------------------------------
 *  Game Over Dialog (jQuery UI)
 * ------------------------------------------------------------------------- */
