/* -------------------------------------------------------------------------
 *  Page and Canvas
 * ------------------------------------------------------------------------- */
<<<<<<< HEAD
body {
  background-color: black;
=======
body { 
  background-color: black; 
>>>>>>> c70e422d1333486074dbf41694b5c30a1259e807
}
canvas {
  display: block;
  margin: auto;
}

/* -------------------------------------------------------------------------
 *  Game Over Dialog (jQuery UI)
 * ------------------------------------------------------------------------- */
<<<<<<< HEAD
=======

/*
.ui-dialog-titlebar{
 display: none;
}
#dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 250px;
  margin-top: -125px;
  margin-left: -300px;
  font-family: Helvetica, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  display: none;
}
#game-over{
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 6px;
  font-variant: small-caps;
  padding: 20px 0px;
}
#invite{
  font-size: 20px;
}
#continue{
  padding: 40px 0px;
  width: 300px;
  margin: 0px auto;
  font-size: 18px;
}

*/
>>>>>>> c70e422d1333486074dbf41694b5c30a1259e807
